ion-card {
    border-radius: 10px;
    //height: 130px;   
}
ion-img {
    height: 90px;
    width: 90px; 
    float: right;    
}

ion-card-title {
    font-size: small;
    //word-wrap: normal;
}

